:root{
    /* PRIMARY */
    --primary-blue: #33B1FF;
    --primary-purple: #A855F7;
    --primary-pink: #FF4FD8;
    --primary-yellow: #FFD84D;

    /* BACKGROUND */
    --bg-dark: #000111;
    --bg-dark-secondary: #07081b;

    /* TEXTO */
    --text-white: #FFFFFF;
    --text-gray: #B8B8D0;

    /* EFEITOS */
    --shadow-neon: 0 0 20px rgba(168, 85, 247, 0.45);
    --gradient-main: linear-gradient(
        180deg,
        #33B1FF,
        #A855F7,
        #FF4FD8
    );
    --gradient-h1: linear-gradient(
        135deg,
        #33B1FF,
        #A855F7,
        #FF4FD8
    );
    --gradient-h1-span: linear-gradient(
        180deg,
        #33B1FF,
        #ffffff
    );
}

/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-dark);
}


/*=========
    HERO
===========*/

#hero{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-dark);
    align-items: center;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    z-index: 9999;
}

#img-hero{
    width: 560px;
    height: 450px;
}

#press-start{
    font-family: "Press Start 2P", system-ui;
    font-size: 40px;
    background: var(--gradient-main);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: piscar 1s infinite;
}

@keyframes piscar{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#logo{
    width: 150px;
    height: 130px;
    margin: 5px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

header h1{
    font-size: 4rem;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background: var(--gradient-h1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header h1 span{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background: var(--gradient-h1-span);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    padding: 5px;
    text-decoration: none;
    font-size: 25px;
    color: var(--text-white);
    text-shadow: var(--shadow-neon);
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

#menu{
    margin-right:25px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: var(--text-white);
    text-shadow: var(--shadow-neon);
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

nav ul li a:hover{
    background: var(--gradient-h1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#banner{
    width: 100%;
}

/*============
    FOOTER
==============*/

footer{
    background: var(--bg-dark-secondary);
    padding: 50px 8% 25px;
}

.footer-conteudo{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
    padding-bottom: 35px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.footer-superior{
    max-width: 280px;
}

.footer-logo{
    width: 110px;
    height: auto;
    margin-bottom: 15px;
}

footer h2{
    font-size: 2rem;
    font-family: "Pixelify Sans", sans-serif;
    margin-bottom: 18px;

    background: var(--gradient-h1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer h2 span{
    background: var(--gradient-h1-span);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-superior p,
.footer-informacoes p,
.footer-links a{
    color: var(--text-white);
    font-family: "Poppins", sans-serif;
    font-size: 0.95rem;
}

.footer-informacoes h3,
.footer-links h3{
    font-family: "Pixelify Sans", sans-serif;
    color: var(--primary-pink);
    font-size: 1.4rem;
    margin-bottom: 18px;
}

.footer-informacoes p{
    margin-bottom: 10px;
}

.footer-links ul{
    list-style: none;
    padding: 0;
}

.footer-links li{
    margin-bottom: 10px;
}

.footer-links a{
    text-decoration: none;
    transition: 0.3s;
}

.footer-links a:hover{
    background: var(--gradient-h1-span);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-copy p{
    text-align: center;
    color: var(--text-white);
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
    padding-top: 25px;
}

hr{
     width: 85%;
    margin: 0 auto;
    border: none;
    height: 1px;
    background-color: rgba(255,255,255,0.15);
}

/*==========
    BODY 
===========*/

#contato{
    padding: 50px 8%;
    min-height: 80vh;
}

.contato-header{
    text-align: center;
    margin-bottom: 50px;
}

.contato-header h1{
    font-family: "Press Start 2P", system-ui;
    font-size: 1.8rem;
    background: var(--gradient-main);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 18px;
}

.contato-header p{
    font-family: "Poppins", sans-serif;
    color: var(--text-white);
    font-size: 1rem;
}

.contato-container{
    display: flex;
    gap: 40px;
    align-items: stretch;
}

.contato-form,
.contato-info{
    flex: 1;
    background-color: var(--bg-dark-secondary);
    border-radius: 24px;
    padding: 35px;
    border: 1px solid var(--bg-dark-secondary);
    box-shadow:
        0 0 12px #a955f769,
        0 0 15px rgba(83, 13, 148, 0.6);
}

.contato-form{
    display: flex;
    flex-direction: column;
}

.contato-form label{
    font-family: "Pixelify Sans", sans-serif;
    color: var(--primary-pink);
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.contato-form input,
.contato-form textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 14px;
    border-radius: 12px;
    border: 1px solid var(--bg-dark);
    background-color: var(--bg-dark);
    color: var(--text-white);
    font-family: "Poppins", sans-serif;
    outline: none;
}

.contato-form input:focus,
.contato-form textarea:focus{
    border-color: var(--primary-blue);
    box-shadow: 0 0 10px var(--bg-dark-secondary);
}

.contato-form button{
    padding: 15px;
    border: none;
    border-radius: 12px;
    background: var(--gradient-h1);
    color: var(--text-white);
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.3s;
}

.contato-form button:hover{
    transform: translateY(-5px);
    box-shadow:
        0 0 12px #a955f769,
        0 0 15px rgba(83, 13, 148, 0.6);
}

.contato-info h2{
    font-family: "Pixelify Sans", sans-serif;
    font-size: 2rem;
    background: var(--gradient-h1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.contato-info > p{
    font-family: "Poppins", sans-serif;
    color: var(--text-white);
    margin-bottom: 30px;
}

.info-item{
    margin-bottom: 25px;
}

.info-item h3{
    font-family: "Pixelify Sans", sans-serif;
    background: var(--gradient-h1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.4rem;
    margin-bottom: 8px;
}

.info-item p{
    font-family: "Poppins", sans-serif;
    color: var(--text-white);
    margin-bottom: 8px;
}
