:root{
    
    /*===================================
    Azul → botões, hover, detalhes neon
    Roxo → fundo, gradientes
    Rosa → destaque principal/logo
    Amarelo → estrelas, moedas, XP, CTA
    ====================================*/
    
    /* PRIMARY */
    --primary-blue: #33B1FF;
    --primary-purple: #A855F7;
    --primary-pink: #FF4FD8;
    --primary-yellow: #FFD84D;

    /* SECONDARY */
    --secondary-cyan: #63E6FF;
    --secondary-lilac: #C8B6FF;
    --secondary-navy: #1D267D;
    --secondary-soft: #E9E4FF;

    /* BACKGROUND */
    --bg-dark: #000111;
    --bg-dark-secondary: #24264A;
    --bg-light: #F5F7FF;

    /* TEXT */
    --text-white: #FFFFFF;
    --text-gray: #B8B8D0;

    /* EFFECTS */
    --shadow-neon: 0 0 20px rgba(168, 85, 247, 0.45);
    --gradient-main: linear-gradient(
        180deg,
        #33B1FF,
        #A855F7,
        #FF4FD8
    );
    --gradient-h1: linear-gradient(
        135deg,
        #33B1FF,
        #A855F7,
        #FF4FD8
    );
    --gradient-h1-span: linear-gradient(
        180deg,
        #33B1FF,
        #ffffff
    );
}

/*Reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-dark);
}


/*=========
    HERO
===========*/

#hero{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-dark);
    align-items: center;
    opacity: 1;
    transition: opacity 0.9s ease-in-out;
}

#img-hero{
    width: 560px;
    height: 450px;
}

#press-start{
    font-family: "Press Start 2P", system-ui;
    font-size: 40px;
    background: var(--gradient-main);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: piscar 1s infinite;
}

@keyframes piscar{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#logo{
    width: 150px;
    height: 130px;
    margin: 5px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

header h1{
    font-size: 4rem;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background: var(--gradient-h1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header h1 span{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background: var(--gradient-h1-span);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    padding: 5px;
    text-decoration: none;
    font-size: 25px;
    color: var(--text-white);
    text-shadow: var(--shadow-neon);
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

#menu{
    margin-right:25px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: var(--text-white);
    text-shadow: var(--shadow-neon);
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

nav ul li a:hover{
    background: var(--gradient-h1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#banner{
    width: 100%;
}


